@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

// CORES
$black: #222;
$red: #900;
$white: #f1f1f1;

body {
    background: $white;
    box-sizing: border-box;
}

.container {
  align-items: center;
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

h1 {
    color: $black;
    font: 45px 'Playfair Display', serif;
    line-height: 30px;
}

.to-do {
    margin-top: 50px;
}

input {
    background-color: $white;
    border-bottom: none;
    border-left: 1px solid $red;
    border-right: none;
    border-top: 1px solid $red;
    color: $red;
    font: 25px 'Playfair Display', serif;
    outline: none;
    padding: 10px 20px;
    transition: all .3s ease;

    &:focus {
        background: $red;
        color: $white;
        transition: all .3s ease;
    }

    @media (max-width: 420px) {
        width: 66%;
    }
}


.to-do__button {
    border-left: 1px solid $red;
    border-top: 1px solid $red;
    color: $red;
    cursor: pointer;
    font: 25px 'Playfair Display', serif;
    padding: 10px 30px;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
        background: $red;
        color: $white;
        transition: all .3s ease;
    }

    @media (max-width: 414px) {
        width: 29%;
    }
}

.to-do__box {
    align-items: flex-start;
    border-left: 1px solid $red;
    border-top: 1px solid $red;
    display: flex;
    justify-content: flex-start;
    margin-top: 75px;
    opacity: 0;
    transition: opacity .5s ease;

    &.is-active {
        opacity: 1;
        transition: opacity .5s ease;
    }
}

.to-do__list {
    padding: 5px 20px;
    transition: all .8s ease;
}

li {
    font: 20px 'Playfair Display', serif;
    list-style: none;
    margin-left: 20px;
    padding: 10px 0;
    position: relative;

    &:before {
        background: $red;
        content: "";
        height: 2px;
        left: -25px;
        margin-top: 8px;
        position: absolute;
        width: 12px;
        transform: rotate(45deg);
    }

    &:after {
        background: $red;
        content: "";
        height: 2px;
        left: -25px;
        margin-top: 15px;
        position: absolute;
        width: 12px;
        transform: rotate(-45deg);
    }
}

span {
    position: relative;
    margin-left: 50px;

    &:before {
        border: 1px solid $red;
        content: '';
        cursor: pointer;
        height: 20px;
        margin-top: 4px;
        position: absolute;
        transition: all .3s ease;
        width: 20px;
    }
}

span:hover::before {
    background: $red;
    transition: all .3s ease;
}

.done__box {
    align-items: flex-start;
    border-bottom: 1px solid $red;
    border-right: 1px solid $red;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    opacity: 0;
    transition: opacity .5s ease;

    &.is-active {
        opacity: 1;
        transition: opacity .5s ease;
    }
}

.done__list {
    padding: 5px 20px;
    transition: all .5s ease;
}

b {
    cursor: pointer;
    position: relative;

    &:after {
        content: 'X';
        color: $red;
        font-size: 24px;
        margin-left: 50px;
        position: absolute;
    }
}