@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Archivo', 'Arial', 'sans-serif';
}